{% extends 'admin/base.html' %}
{% load static %}
{% block content %}

<div class="col-6 grid-margin stretch-card mx-auto">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{table_name}}</h4>
        <!-- <p class="card-description"> Basic form elements </p> -->
        <form class="forms-sample"  method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Category Name</label>
            <div class="col-sm-10">
              {{form.category_name}}      
          </div>
          </div>        
              <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Category Slug</label>
            <div class="col-sm-10">
              {{form.slug}}      
          </div>
          </div>          
            <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Category Description</label>
            <div class="col-sm-10">
              {{form.description}}      
          </div>
          </div>    
         
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Category Image</label>
            <div class="col-sm-10">
                {{form.cat_image}}   
                <textarea name="pro_img1" id="pro_img1" style="display: none;"></textarea>
                <img src="{{form.instance.cat_image.url}}" id="imageview1" style="height: auto;width: 100px;">
      
          </div>
          </div>       
          <div class="form-group row">
            <div class="col-sm-2">Availability</div>
            <div class="col-sm-10"> {{form.is_available}}      
              <div class="form-check">
                 
                <label class="form-check-label" for="gridCheck1">
                </label>
              </div>
            </div>
          </div>  
          {{form.errors}}
                  
          <!---==================================-->

        
          

                    
<!------------------------------------------------------------------------------------------------MODAL 1-->
        <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered"  role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Crop Image</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" >
                    <div class="result1" >
                    </div>
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                        </button>
                        <button type="button" id="btnCrop1" class="btn save1 btn-primary">Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
   

        
          <button type="submit" class="btn btn-primary mr-2">Submit</button>
          <a href="{% url 'viewCategory' %}" class="btn btn-dark">Cancel</a>

        </form>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>




  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  
  <script src="https://cdn.rawgit.com/fengyuanchen/cropper/v2.0.1/dist/cropper.js"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js"></script> 
   



  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<!---------------------------------------------------------------------------------------------------------  IMAGE 1 ------------------------>
<script>
  let result1 = document.querySelector('.result1'),
      save1 = document.querySelector('.save1'),
      cropped1 = document.getElementById('imageview1'),
      upload1 = document.querySelector('#id_cat_image'),
      cropper1 = '';

  upload1.addEventListener('change', (e) => {
          
          var fileName = document.getElementById("id_cat_image").value;
          var idxDot = fileName.lastIndexOf(".") + 1;
          var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
          if (extFile == "jpg" || extFile == "jpeg" || extFile == "png") {
              if (e.target.files.length) {
                  // start file reader
                  const reader = new FileReader();
                  reader.onload = (e) => {
                      if (e.target.result) {

                          // create new image
                          $("#exampleModalCenter1").modal("show");
                          let img1 = document.createElement('img');
                          img1.id = 'image1';
                          img1.src = e.target.result
                          // clean result before
                          result1.innerHTML = '';
                          // append new image
                          result1.appendChild(img1);
                          // init cropper
                          cropper1 = new Cropper(img1, {
                              aspectRatio: 3 / 4,
                              viewMode: 2,
                          });
                      }
                  };
                  reader.readAsDataURL(e.target.files[0]);
              }
          }
          else {
              swal("this file type is not supported", {
                  icon: "error",
              })
              fileName = "";
              console.log(fileName)
          }
      }
  );

  save1.addEventListener('click', (e) => {
      e.preventDefault();
      // get result to data uri
      let imgSrc1 = cropper1.getCroppedCanvas({
          width: 300,
          height: 500// img disp value
      }).toDataURL();
      $("#exampleModalCenter1").modal("hide");
      
      
      cropped1.src = imgSrc1;
      $('#pro_img1').val(imgSrc1)
     
       
     
      
  });
</script>

{% endblock content %}