{% extends 'admin/base.html' %}

{% load static %}

{% block content %}

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />



<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div id="reportrange" style="background:#12151e; cursor: pointer; padding: 5px 10px; border: 1px solid #12151e; width: 100%">
            <div class="row"><!---start row-->
              {% if orders %}
                <input class="btn  badge-pill badge-success my-auto" type="button" id="btnExport" value="Export to PDF" onclick="Export()"  style="height: 50%;">
                <button class="btn  badge-pill badge-success my-auto" onclick="ExportToExcel('xlsx')"style="height: 50%;">Export to excel</button>
              {% else %} 
              <p class="my-auto" style="color:red">Table empty to Export</p>
              {% endif %}
        
              <!-- <i class="fa fa-calendar"></i>&nbsp;
              <span></span> <i class="fa fa-caret-down"></i> -->

                <form action="{% url 'datewiseReport'%}" method="GET" style="padding-left: 5%;" onsubmit=" return dateValidation()" >
                        <label for="example-date-input" class="">Sort By Date</label>
                        <input class="form-control" name="start" id="date_start" type="date" value="" autocomplete="off" style="width: 150px;" >
                        <input class="form-control" name="end" id="date_end" type="date" value="" autocomplete="off" style="width: 150px;" >
                        <button type="submit" class="btn btn-sm btn-success" >CheQ</button>
                </form>

                <form action="{% url 'monthlyReport' %}" method="GET" style="padding-left: 5%;" onsubmit="return monthValidation()">
                        <label for="example-month-input" class="">Monthly</label>
                        <input class="form-control" id="month_month" type="integer"maxlength="2" name="month" placeholder="MM"/>
                        <input class="form-control" id="month_year" type="integer" maxlength="4" name="year"  placeholder="YY"/>

                        <button type="submit" class="btn btn-sm btn-success">CheQ</button>
                
                </form>

                <form action="{% url 'yearlyReport' %}" method="GET" style="padding-left: 5%;padding-right: 5%;" onsubmit="return yearValidation()" >
                        <label for="" class="">Yearly</label>
                        <input class="form-control" id="year_year" type="integer" maxlength="4" name="year"  placeholder="YY"/>
                        <button type="submit" class="btn btn-sm btn-success">CheQ</button>
                
                </form>

            </div><!----end row-->
        </div> 
            
        <h4 class="card-title">Category Table</h4>
        <!-- <p class="card-description"> Add class <code>.table-hover</code>
        </p> -->
        <div class="table-responsive">
          <table class="table table-hover" id="tblCustomers">
            <thead>
              <tr>
                <th>SL.no</th>
                <th>User</th>
                <th>Order ID</th>
                <th>Order Amount</th>
                <th>Payment Method</th>
                <!-- <th>Payment ID</th> -->
                <th>Time</th>  
              </tr>
            </thead>
            <tbody>
              {% for order in orders %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{ order.user.first_name }} {{ order.user.last_name }}</td>
                <td>{{ order.order_number }}</td>
                <td>{{order.order_total}}</td>
                <td>{{ order.payment.payment_method }}</td>
                <!-- <td>{{ order.payment.payment_id }}</td> -->
                <td>{{ order.updated_at }}</td>
               
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


<!-- <script type="text/javascript">
$(function() {

  var start = moment().subtract(29, 'days');
  var end = moment();

  function cb(start, end) {
      $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
  }

  $('#reportrange').daterangepicker({
      startDate: start,
      endDate: end,
      ranges: {
         'Today': [moment(), moment()],
         'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
         'Last 7 Days': [moment().subtract(6, 'days'), moment()],
         'Last 30 Days': [moment().subtract(29, 'days'), moment()],
         'This Month': [moment().startOf('month'), moment().endOf('month')],
         'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
      }
  }, cb);

  cb(start, end);

});
</script> -->

<!-----------------------------------EXPORT TO PDF-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<script type="text/javascript">
    function Export() {
        html2canvas(document.getElementById('tblCustomers'), {
            onrendered: function (canvas) {
                var data = canvas.toDataURL();
                var docDefinition = {
                    content: [{
                        image: data,
                        width: 500
                    }]
                };
                pdfMake.createPdf(docDefinition).download("Table.pdf");
            }
        });
    }
</script>
<!-------------------------------EXPORT TO EXCEL-->

<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
<script>
function ExportToExcel(type, fn, dl) {
    var elt = document.getElementById('tblCustomers');
    var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
    return dl ?
      XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }):
      XLSX.writeFile(wb, fn || ('MySheetName.' + (type || 'xlsx')));
 }
 </script>
<script>

  function dateValidation(){
    var date_start=$('#date_start').val()
    var date_end=$('#date_end').val()
    if (date_end == "" || date_start == ""){
    return false
    }
    else{
      return true
    }
  }
  function monthValidation(){
    var month_month=$('#month_month').val()
    var month_year=$('#month_year').val()
    if (month_month == "" || month_year == ""){
    return false
    }
    else{
      return true
    } 
  }
  function yearValidation(){
    var year_year=$('#year_year').val()
    if (year_year == "" ){
    return false
    }
    else{
      return true
    }

  }
</script>

{% endblock content %}