{% extends 'store/base.html' %}
{% load static %}
{% block content %}

 <!--====== App Content ======-->
 <div class="app-content">

    <!--====== Section 1 ======-->
    <div class="u-s-p-y-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="breadcrumb">
                    <div class="breadcrumb__wrap">
                        <ul class="breadcrumb__list">
                            <li class="has-separator">

                                <a >Home</a></li>
                            <li class="is-marked">

                                <a href="">Checkout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section 1 ======-->
    
    <!----=======================ADDRESSES=====-->
    <div class="row">
        <aside class="col-lg-12">
    <div class="card">
        <div class="mx-auto" style="background-color: #000000;height: 30px;color: #ff4500;">
        <h4 style="block-size: 10px;"  class="mx-auto">Adress Selection</h4>
        </div>
        <div class="card-body" style="overflow-y: scroll; height: 250px; overflow-x:hidden;">

  
            
            <!------------------------------USER ADDRESSES------->
        {% for address in addresses %}
        <input type="radio"   name="address" value="{{address.id}}">

            <label id="{{address.id}}address_name"  style="font-weight: bold;" >{{address.address_name}}</label>

        <div class="row header ">
            <div class="my-auto">

            <p  style="padding-right: 2000px;">
                <div>
                <span style="font-weight: bold;" >  Name:</span>
                <span id="{{address.id}}first_name">{{address.first_name}}</span> 
                <span id="{{address.id}}last_name">{{address.last_name}}</span>
              
                 <span style="font-weight: bold;" > Email: </span>
                 <span id="{{address.id}}email">{{address.email}}</span>
               
                 <span style="font-weight: bold;">Phone : </span> 
                 <span id="{{address.id}}phone">{{address.phone}}</span>
               
                     <span style="font-weight: bold;">Address:</span> 
                     <span id="{{address.id}}address_line1">{{address.address_line1}}</span>
                     <span id="{{address.id}}address_line2">{{address.address_line2}}</span>
                   
                     <span style="font-weight: bold;"> PIN: </span> 
                     <span id="{{address.id}}pin">{{address.pin}}</span>
                     <span id="{{address.id}}city">{{address.city}}</span>
                     <span id="{{address.id}}state">{{address.state}}</span>
                    </div>
                     </p>
            </div>
            <div class="text-right">
                <a href="{% url 'editAddress' address.id %}"  class="btn text-right " style="background-color: #ff4500;color:white; " >Edit</a>
            </div>
        </div>
      
        {% endfor %}
        <br>
        <!----------------------------USER ADDRESSES END-->

            
                  <!----------------------ADD ANOTHER ADDRESS----->
                  <input type="radio"   name="address" value="default">

                  <label>Add another Address</label><br>
          
                  <div class="row header   pd-4">
                  <label for="{{address.id}}" > </label>
                  <div class="my-auto">
          
                      <p  >
          
                          <span id="defaultfirst_name"> </span> 
                          <span id="defaultlast_name"></span>
          
                           <span id="defaultemail"></span>
          
                           <span id="defaultphone"></span>
                          </p>
          
                           <p style="padding-right: 150px;">
          
                               <span id="defaultaddress_line1"></span>
                               <span id="defaultaddress_line2"></span>
          
                               <span id="defaultpin"></span>
                               <span id="defaultcity"></span>
                               <span id="defaultstate"></span>
                               </p>
                  </div>
                  <br>
                  <!-----------------------------ADD ANOTHER ADDRESS END--->                                                
            
    </div>


    </div>


    <!----======================= END ADDRESSES=====-->

    <section class="section-content padding-y bg">
        <div class="container">
        
        <!-- ============================ COMPONENT 1 ================================= -->
        
        <div class="row">
            <aside class="col-lg-6">
        <div class="card">
            <div class="card-body">
        
        
            
        <h4 class="card-title mb-4">Billing Address</h4>
            <div class="form-row">
                <div class="col form-group">

                  <!--====================================================FORM STARTING====================-->
                    <form action="{% url 'placeOrder' %}" method="POST" onsubmit="return validateForm()">
                        {% csrf_token %}
                        
                    <label for="">Address Name</label>
                    <input type="text" name="address_name" id="address_name" class="form-control" value="" >
                </div>
                
            </div>
      
            <div class="form-row">
                <div class="col form-group">
        
                    <label for="">First Name</label>
                    <input type="text" name="first_name" onkeyup="first_name_validate()" id="first_name" class="form-control" value="" required>
                    <p style="color:red" id="first_name_error"></p>

                </div>
                <div class="col form-group">
        
                    <label for="">Last Name</label>
                    <input type="text" name="last_name" onkeyup="last_name_validate()" id="last_name" class="form-control" required>
                    <p style="color:red" id="last_name_error"></p>

                </div>
            </div>
            <div class="form-row">
                <div class="col form-group">
        
                    <label for="">Email</label>
                    <input type="text" name="email" id="email" onkeyup="emailvalidate()" class="form-control" required>
                    <p style="color:red" id="email_error"></p>

                </div>
                <div class="col form-group">
        
                    <label for="">Phone Number</label>
                    <input type="tel" name="phone" onkeyup="phonevalidation()" id="phone" class="form-control" required>
                    <p style="color:red" id="phone_number_error"></p>

                </div>
            </div>
            <div class="form-row">
                <div class="col form-group">
        
                    <label for="">Address Line 1</label>
                    <input type="text" name="address1" id="address_line1" class="form-control" required>
                
                </div>
                <div class="col form-group">
        
                    <label for="">Address Line 2</label>
                    <input type="text" name="address2" id="address_line2" class="form-control">
                </div>
            </div>
            <div class="form-row">
                <div class="col form-group">
                    <label for="">City</label>
                    <input type="text" name="city" onkeyup="city_validation()" id="city" class="form-control" required>
                    <p style="color:red" id="city_name_error"></p>
            
                </div>
         
            </div>
            
            <div class="form-row">
                <div class="col form-group">
                    <label for="">Pin</label>
                    <input type="text" name="pin" id="pin" onkeyup="pin_validation()"  class="form-control" required>
                    <p style="color:red" id="pin_number_error"></p>

                   
                </div>
               
                <div class="form-group">
                    <label for="sel1">State</label>
                    <select class="form-control" id="state" name="state">
                      <option>Kerala</option>
                      <option>Tamilnadu</option>
                     
                    </select>
                  </div> 
            </div>
            <div class="form-row">
               
        
                    <label for="">Order Note</label>
                <textarea name="order_note" id="" rows="2" class="form-control"></textarea>
                
              
            </div>
            <br>
        
            
           
            
        
        </div>
 
        
        
        </div> <!-- card.// -->
 
        
            </aside> <!-- col.// -->
           
            <aside class="col-lg-6">
    <!---===========================================================COUPON==========-->
                <br>
                <div class="form-group ">
                  <label for="coupon_title" class="sr-only">Enter Coupon</label>
                  <input type="text" class="form-control " name="coupon_title" id="coupon_title" placeholder="Place Your Coupons">
                  <p id="display_coupon"></p>
                </div>
                <a  class="btn  mb-3"  id="coupon"  style="background-color: #ff4500;text-decoration-color: thistle;" >Check Coupon</a>
    
    <!--=============================================================COUPON============-->   
        
                <div class="card">
                <div class="card-body">
        
                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                        <tr class="small text-uppercase">
                          <th scope="col">Product</th>
                          <th scope="col" width="120">Quantity</th>
                          <th scope="col" width="120">Price</th>
                          
                        </tr>
                        </thead>
                        <tbody>
                        
                            {% for cart_item in cart_items %}
                        <tr>
                            <td>
                                <figure class="itemside align-items-center">
                                    <div class="aside"><img src="{{ cart_item.product.image1.url }}" class="img-sm" style="height: 100px;"></div>
                                    <figcaption class="info">
                                        <a href="{{ cart_item.product.get_url }}" class="title text-dark">{{ cart_item.product.product_name}}</a>
                                        <!-- <p class="text-muted small"><br> Brand: {{cart_item.product.brand }}</p> -->
                                    </figcaption>
                                </figure>
                            </td>
                            
                            <td>
                                <div class="table-p__input-counter-wrap">

                                    <!--====== Input Counter ======-->
                                    <div class="input-counter">

                                        <!-- <a href="{% url 'minus_checkout' cart_item.product.id %}" class="input-counter__minus fas fa-minus"></a> -->

                                        <input class="input-counter__text input-counter--text-primary-style" type="text" value="{{ cart_item.quantity}}" data-min="1" data-max="1000" disabled>

                                        <!-- <a href="{% url 'add_checkout' cart_item.product.id %}" class="input-counter__plus fas fa-plus"></a></div> -->
                                    <!--====== End - Input Counter ======-->
                                </div>
                            </td>
                            
                            <td> 
                                <div class="price-wrap"> 
                                    <var class="price">{{ cart_item.sub_total }}</var> 
                                
                               
                                </div> <!-- price-wrap .// -->
                            </td>
                            
                        </tr>
                        
                        {% endfor %}
                        <table class="f-cart__table">
                            <tbody>
                                <tr>
                                    <td>COUPON OFFER</td>
                                    <td>-₹<span  id="coupon_price">00</span> </td>
                                </tr>
                                <tr>
                                    <td>SUBTOTAL</td>
                                    <td>₹{{total}}</td>
                                </tr>
                                <tr>
                                    <td>TAX</td>
                                    <td>₹{{ tax}}</td>
                                </tr>
                               
                                <tr>
                                    <td>GRAND TOTAL</td>
                                    <td > ₹ <span id="grand_total">{{grand_total}} </span> </td>
                                </tr>
                            </tbody>
                        </table>
                        
                        </tbody>
                        </table>
                        <p style="color:red" id="address_error"></p>

                    <input type="submit" name="submit" value="Place Order" class="btn btn-warning btn-block" style="background: #ff4500;" >
                
                    <a href="{% url 'home' %}" class="btn btn-light btn-block">Continue Shopping</a>
        
                </form>
                <br>
        
             
                
              
        
                </div> <!-- card-body.// -->
                </div> <!-- card.// -->
        
        
        
               
        
        
        
        
        </aside> <!-- col.// -->
        
        
        </div> <!-- row.// -->
        <!-- ============================ COMPONENT 1 END .// ================================= -->
        
        </div> <!-- container .//  -->
        </section>
        <!-- ========================= SECTION CONTENT END// ========================= -->
        

		<script>


		</script>


<!---========================================Check Coupon===========-->
<script>
    $('#coupon').click(function(){
    var coupon=$('#coupon_title').val()
    var GrandTotal= "{{grand_total}}"

    
        $.ajax({
            url:"{% url 'checkCoupon' %}",
            method: 'GET',
            data: {'data':coupon,'grand_total':GrandTotal},
            dataType: 'json',
            success: function (data,grand_total) {
  
              console.log(data)
             
              
              
              if(data.status){
                $('#display_coupon').html(data.message)
              }
              else
              {
                  $('#display_coupon').html(data.message)
                  $('#grand_total').html(data.grand_total)
                  $('#coupon_price').html(data.coupon_price)

              }
             
            },
            error: function(error){
              console.log("Ajax cant send data")
            }
        })
      })


    </script>
    <!--============form validation===============-->
<script>

$("input[type='radio']").click(function (){

var address=$(this).val()

var addressName = $("#"+address+"address_name").html()
$("#address_name").val(addressName)

var firstName = $("#"+address+"first_name").html()
$("#first_name").val(firstName)

var lastName = $("#"+address+"last_name").html()
$("#last_name").val(lastName)

var Email = $("#"+address+"email").html()
$("#email").val(Email)

var Phone = $("#"+address+"phone").html()
$("#phone").val(Phone)

var Address_line1 = $("#"+address+"address_line1").html()
$("#address_line1").val(Address_line1)

var Address_line2 = $("#"+address+"address_line2").html()
$("#address_line2").val(Address_line2)

var City = $("#"+address+"city").html()
$("#city").val(City)

var State = $("#"+address+"state").html()
$("#state").val(State)

var Pin = $("#"+address+"pin").html()
$("#pin").val(Pin)
pin_validation();
city_validation();
first_name_validate();
last_name_validate();
phonevalidation();
emailvalidate();
            

console.log(address)

})    
    var email_check=false
    var first_name_input = false
    var last_name_input = false
    var phone_number_input = false
    var city_name_check = false

    var pin_number_input = false


function pin_validation(){
    var pin_number=document.getElementById('pin').value

    var pin_regex=/^\d{6}$/
    var name_regex=/^[a-zA-Z ]{1,30}$/;

    var pin_number_check_alphabet=document.getElementById('pin').value
    lastIndex = pin_number_check_alphabet.length;
    pin_number_check_alphabet = pin_number_check_alphabet[lastIndex - 1] 
    console.log(pin_number_check_alphabet)

    if(name_regex.test(pin_number_check_alphabet)){

    document.getElementById('pin_number_error').innerHTML="PIN number only allows digits"
    pin_number_input=false

    }              
    else if (pin_regex.test(pin_number)){
    document.getElementById('pin_number_error').innerHTML=""
    pin_number_input=true

    }

    else if(pin_number.length<10){

    document.getElementById('pin_number_error').innerHTML="PIN less than 6 is not valid"
    pin_number_input=false

    }

    else if(pin_number.length>10){
    document.getElementById('pin_number_error').innerHTML="PIN greater than 6 is not valid"
    pin_number_input=false
    }
    else{
    document.getElementById('pin_number_error').innerHTML="enter valid PIN number"
    }
    }
    
function city_validation(){

    var name_regex=/^[a-zA-Z ]{1,30}$/;

    var city_name_from_input =document.getElementById('city').value
    console.log(city_name_from_input)

    if (name_regex.test(city_name_from_input)){
        document.getElementById('city_name_error').innerHTML=""
        city_name_check=true

    }
    else{
        document.getElementById('city_name_error').innerHTML="not valid city name"
        city_name_check=false

    }

    }  

// function address_name_validate(){

//     var name_regex=/^[a-zA-Z ]{1,30}$/;

//     var address_name_from_input =document.getElementById('address_name').value
//     if (name_regex.test(address_name_from_input)){
//         document.getElementById('address_name_error').innerHTML=""
//         address_name_from_input=true

//     }
//     else{
//         document.getElementById('address_name_error').innerHTML="not valid address name"
//         address_name_from_input=false

//     }

//     }            

function first_name_validate(){

    var name_regex=/^[a-zA-Z ]{1,30}$/;

    var first_name_from_input =document.getElementById('first_name').value
    if (name_regex.test(first_name_from_input)){
        document.getElementById('first_name_error').innerHTML=""
        first_name_input=true

    }
    else{
        document.getElementById('first_name_error').innerHTML="not valid name"
        first_name_input=false

    }

    }


function last_name_validate(){
    var name_regex=/^[a-zA-Z ]{1,30}$/;

    var last_name_from_input =document.getElementById('last_name').value

    if (name_regex.test(last_name_from_input)){
        document.getElementById('last_name_error').innerHTML=""
        last_name_input=true
        console.log(name)

    }
    else{
        document.getElementById('last_name_error').innerHTML="not valid name"
        last_name_input=false
    }

    }            
function phonevalidation(){
    var phone_number=document.getElementById('phone').value
    var phone_regex=/^\d{10}$/
    var phone_name_regex=/^[a-zA-Z ]{1,30}$/;
    var phone_number_check_alphabet=document.getElementById('phone').value
    lastIndex = phone_number_check_alphabet.length;
    phone_number_check_alphabet = phone_number_check_alphabet[lastIndex - 1] 

    if(phone_name_regex.test(phone_number_check_alphabet)){

    document.getElementById('phone_number_error').innerHTML="Phone number only allows digits"
    phone_number_input=false

    }              
    else if (phone_regex.test(phone_number)){
    document.getElementById('phone_number_error').innerHTML=""
    phone_number_input=true

    }


    else if(phone_number.length<10){

    document.getElementById('phone_number_error').innerHTML="Phone number less than 10 is not valid"
    phone_number_input=false

    }
    else if(phone_number.length>10){
    document.getElementById('phone_number_error').innerHTML="Phone number greater than 10 is not valid"
    phone_number_input=false
    }
    else{
    document.getElementById('phone_number_error').innerHTML="enter valid phone number"
    }
    }

function emailvalidate(){
    var email_val=document.getElementById('email').value

    var email_regex=/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/
    if (email_regex.test(email_val)){

        document.getElementById('email_error').innerHTML=""
        email_check=true

    }
    else{

        document.getElementById('email_error').innerHTML="invalid mail id"
        email_check=false
    }
    }
function validateForm(){
    pin_validation();
    city_validation();
    first_name_validate();
    last_name_validate();
    phonevalidation();
    emailvalidate();
    console.log(email_check,first_name_input,last_name_input,phone_number_input,city_name_check,pin_number_input)
    if(   email_check == true && first_name_input == true && last_name_input == true && phone_number_input == true && city_name_check == true && pin_number_input == true){
        console.log("validate true")
        return true
    }
    else{
        console.log("validate false")
        document.getElementById('address_error').innerHTML="Enter Valid Address"

        return false
    }
}

</script>   

{% endblock content %}
