{% extends 'store/base.html' %}
{% load static %}
{% block content %}
<input class="btn  badge-pill badge-success" type="button" id="btnExport" value="Download PDF" onclick="Export()"  style="height: 50%;">
<a href="{% url 'home' %}" class="btn btn-light badge-pill" style="background: #ff4500;height: 50%;">Continue Shopping</a>
  
<link rel="stylesheet" href="{% static 'store/css/confirmOrder/confirmOrder.css' %}">
<div class="container mt-5 mb-5" id="tblCustomers">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="text-left logo p-2 px-5"> <img src="{% static 'store/confirmOrder/confirm.png' %}" width="50"> </div>
                <div class="invoice p-5">
                    <h5>Your order Confirmed!</h5> <span class="font-weight-bold d-block mt-4">Hello, {{request.user.username}}</span> <span>You order has been confirmed and will be shipped in next two days!</span>
                    <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="py-2"> <span class="d-block text-muted">Order Date</span> <span>{{order.payment.created_at}}</span> </div>
                                    </td>
                                    <td>
                                        <div class="py-2"> <span class="d-block text-muted">Order No</span> <span>{{order.order_number}}</span> </div>
                                    </td>
                                    <td>
                                        <div class="py-2"> <span class="d-block text-muted">Payment</span> <span>{{payment}}</span> </div>
                                    </td>
                                    <td>
                                        <div class="py-2"> <span class="d-block text-muted">Shiping Address</span> <span>{{order.first_name}} {{order.last_name}},Phone:{{order.phone}},{{order.address_line1}} {{order.address_line2}},{{order.pin}},{{order.city}},{{order.state}},Order note:{{order.order_note}}</span> </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="product border-bottom table-responsive">
                        <table class="table table-borderless">
                            <tbody>
                                {% for one_product in ordered_product %}

                                <tr>
                                    <td width="20%"> <img src="{{ one_product.product.image1.url }}" width="70"> </td>
                                    <td width="60%"> <span class="font-weight-bold">{{ one_product.product.product_name}}</span>
                                        <div class="product-qty"> <span class="d-block">Quantity:{{ one_product.quantity}}</span>  </div>
                                    </td>
                                    <td width="20%">
                                        <div class="text-right"> <span class="font-weight-bold">{{ one_product.sub_total }}</span> </div>
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <div class="row d-flex justify-content-end">
                        <div class="col-md-5">
                            <table class="table table-borderless">
                                <tbody class="totals">
                                    <tr>
                                        <td>
                                            <div class="text-left"> <span class="text-muted">Subtotal</span> </div>
                                        </td>
                                        <td>
                                            <div class="text-right"> <span>₹{{total}}</span> </div>
                                        </td>
                                    </tr>
                             
                                    <tr>
                                        <td>
                                            <div class="text-left"> <span class="text-muted">Tax Fee</span> </div>
                                        </td>
                                        <td>
                                            <div class="text-right"> <span>₹{{tax}}</span> </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="text-left"> <span class="text-muted">Coupon Discount</span> </div>
                                        </td>
                                        <td>
                                            <div class="text-right"> <span class="text-success">₹{{coupon_price}}</span> </div>
                                        </td>
                                    </tr>
                                    <tr class="border-top border-bottom">
                                        {% if payment == 'PayPal' %}

                                        <td>
                                            <div class="text-left"> <span class="font-weight-bold">Grand total </span> </div>
                                            <div class="text-left"> <span class="font-weight-bold">Grand total in $</span> </div>

                                        </td>
                                        <td>
                                            <div class="text-right"> <span class="font-weight-bold">₹{{grand_total}}</span> </div>

                                            <div class="text-right"> <span class="font-weight-bold">${{dollar_total}}</span> </div>
                                        </td>
                                            {% else %}
                                            <td>
                                                <div class="text-left"> <span class="font-weight-bold">Grand total</span> </div>
                                            </td>
                                            <td>
                                                <div class="text-right"> <span class="font-weight-bold">₹{{grand_total}}</span> </div>
    
                                            </td>

                                            {% endif %}
                                       
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- <p>We will be sending shipping confirmation email when the item shipped successfully!</p> -->
                    <p class="font-weight-bold mb-0">Thanks for shopping with us!</p> <span>CheQ Team</span>
                </div>
                <div class="d-flex justify-content-between footer p-3">  <span>{{ordered_product.created_at}}</span> </div>
            </div>
        </div>
    </div>
</div>
<!-----------------------------------EXPORT TO PDF-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<script type="text/javascript">
    function Export() {
        html2canvas(document.getElementById('tblCustomers'), {
            onrendered: function (canvas) {
                var data = canvas.toDataURL();
                var docDefinition = {
                    content: [{
                        image: data,
                        width: 500
                    }]
                };
                pdfMake.createPdf(docDefinition).download("Table.pdf");
            }
        });
    }
</script>

{% endblock content %}
